.menu-button {
    -fx-pref-height: 25px;
    -fx-pref-width: 65px;
}

.normal-button {
    -fx-pref-height: 25px;
    -fx-pref-width: 150px;
}

.mini-button {
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
}