<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASFui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ASFui.Properties.Settings>
            <setting name="ASFBinary" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteURL" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearOk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearDuplicated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearInvalid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearOwned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearCooldown" serializeAs="String">
                <value>False</value>
            </setting>
        </ASFui.Properties.Settings>
    </userSettings>
</configuration>
