<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true" >

	<variable name="layout" value="${date:format=dd/MM/yyyy - HH\:mm\:ss} | ${level} | ${message}" />
	<variable name="exception" value="${layout} - ${onexception:inner= ${exception:format=toString,Data}}" />
	
	<targets async="true">
		<target name="ASFuiLog" xsi:type="File" fileName="${basedir}/uiLog.txt" layout="${layout}"/>
		<target name="ASFuiLogEx" xsi:type="File" fileName="${basedir}/uiLog.txt" layout="${exception}"/>
	</targets>

	<rules>
		<logger name="ASFuiLog" minlevel="Trace" writeTo="ASFuiLog" />
		<logger name="ASFuiLogEx" minlevel="Error" writeTo="ASFuiLog" />
	</rules>
</nlog>